In [2]:
import pandas as pd
import numpy as np

In [29]:
dfcom = pd.DataFrame({
'CONTRAT':['CT1','CT2','CT3','CT4','CT5','CT6','CT7','CT8','CT9','CT10','CT11','CT12','CT13','CT14','CT15',
'CT16','CT17','CT18','CT19','CT20','CT21','CT22','CT23','CT24','CT25','CT26','CT27','CT28','CT29','CT30',
'CT31','CT32','CT33','CT34','CT35','CT36','CT37','CT38','CT39','CT40','CT41','CT42','CT43','CT44','CT45',
'CT46','CT47','CT48','CT49','CT50','CT51','CT52','CT53','CT54','CT55','CT56','CT57','CT58','CT59','CT60']
    , 
'GEST':['GE1','GE1','GE1','GE2','GE2','GE3','GE3','GE1','GE2','GE4','GE1','GE1','GE1','GE2','GE2',
'GE3','GE3','GE1','GE2','GE4','GE1','GE1','GE1','GE2','GE2','GE3','GE3','GE1','GE2','GE3',
'GE1','GE1','GE1','GE2','GE2','GE3','GE3','GE1','GE2','GE4','GE1','GE1','GE1','GE2','GE2',
'GE3','GE3','GE1','GE2','GE4','GE1','GE1','GE1','GE2','GE2','GE3','GE3','GE1','GE2','GE3']
    ,
'CC':['CC2','CC1','CC1','CC2','CC2','CC3','CC3','CC1','CC2','CC4','CC1','CC1','CC1','CC2','CC2',
'CC3','CC3','CC1','CC2','CC4','CC1','CC1','CC1','CC2','CC2','CC3','CC3','CC1','CC2','CC1',
'CC1','CC1','CC1','CC2','CC2','CC3','CC3','CC1','CC2','CC4','CC1','CC1','CC1','CC2','CC2',
'CC3','CC3','CC1','CC2','CC3','CC1','CC1','CC1','CC2','CC2','CC3','CC3','CC1','CC2','CC3']
    ,
'PLACEUR':['PL2','PL1','PL1','PL2','PL2','PL3','PL3','PL1','PL2','PL4','PL1','PL1','PL1','PL2','PL2',
'PL3','PL3','PL1','PL2','PL4','PL1','PL1','PL1','PL2','PL2','PL3','PL3','PL1','PL2','PL4',
'PL1','PL1','PL1','PL2','PL2','PL3','PL3','PL1','PL2','PL4','PL1','PL1','PL1','PL2','PL2',
'PL3','PL3','PL1','PL2','PL1','PL1','PL1','PL1','PL2','PL2','PL3','PL3','PL1','PL2','PL1']
                     });

In [30]:
dfcom

   CONTRAT GEST   CC PLACEUR
0      CT1  GE1  CC2     PL2
1      CT2  GE1  CC1     PL1
2      CT3  GE1  CC1     PL1
3      CT4  GE2  CC2     PL2
4      CT5  GE2  CC2     PL2
5      CT6  GE3  CC3     PL3
6      CT7  GE3  CC3     PL3
7      CT8  GE1  CC1     PL1
8      CT9  GE2  CC2     PL2
9     CT10  GE4  CC4     PL4
10    CT11  GE1  CC1     PL1
11    CT12  GE1  CC1     PL1
12    CT13  GE1  CC1     PL1
13    CT14  GE2  CC2     PL2
14    CT15  GE2  CC2     PL2
15    CT16  GE3  CC3     PL3
16    CT17  GE3  CC3     PL3
17    CT18  GE1  CC1     PL1
18    CT19  GE2  CC2     PL2
19    CT20  GE4  CC4     PL4
20    CT21  GE1  CC1     PL1
21    CT22  GE1  CC1     PL1
22    CT23  GE1  CC1     PL1
23    CT24  GE2  CC2     PL2
24    CT25  GE2  CC2     PL2
25    CT26  GE3  CC3     PL3
26    CT27  GE3  CC3     PL3
27    CT28  GE1  CC1     PL1
28    CT29  GE2  CC2     PL2
29    CT30  GE3  CC1     PL4
30    CT31  GE1  CC1     PL1
31    CT32  GE1  CC1     PL1
32    CT33  GE1  CC1     PL1
33    CT34  GE2  CC2     PL2
34    CT35  GE2  CC2     PL2
35    CT36  GE3  CC3     PL3
36    CT37  GE3  CC3     PL3
37    CT38  GE1  CC1     PL1
38    CT39  GE2  CC2     PL2
39    CT40  GE4  CC4     PL4
40    CT41  GE1  CC1     PL1
41    CT42  GE1  CC1     PL1
42    CT43  GE1  CC1     PL1
43    CT44  GE2  CC2     PL2
44    CT45  GE2  CC2     PL2
45    CT46  GE3  CC3     PL3
46    CT47  GE3  CC3     PL3
47    CT48  GE1  CC1     PL1
48    CT49  GE2  CC2     PL2
49    CT50  GE4  CC3     PL1
50    CT51  GE1  CC1     PL1
51    CT52  GE1  CC1     PL1
52    CT53  GE1  CC1     PL1
53    CT54  GE2  CC2     PL2
54    CT55  GE2  CC2     PL2
55    CT56  GE3  CC3     PL3
56    CT57  GE3  CC3     PL3
57    CT58  GE1  CC1     PL1
58    CT59  GE2  CC2     PL2
59    CT60  GE3  CC3     PL1

In [31]:
dfcom1=dfcom.loc[(dfcom["GEST"]=="GE4")|(dfcom["CC"]=="CC4")|(dfcom["PLACEUR"]=="PL4"),
          ['CONTRAT', 'GEST',  'CC', 'PLACEUR']];dfcom1

   CONTRAT GEST   CC PLACEUR
9     CT10  GE4  CC4     PL4
19    CT20  GE4  CC4     PL4
29    CT30  GE3  CC1     PL4
39    CT40  GE4  CC4     PL4
49    CT50  GE4  CC3     PL1

In [32]:
dfcom1.columns

Index(['CONTRAT', 'GEST', 'CC', 'PLACEUR'], dtype='object')