In [19]:
import pandas as pd
import flet as ft
from urllib.request import urlopen
import json

In [20]:
urlexo1 = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+count(pl_name)+as+nbe+from+ps+where+default_flag=1&format=json"
print(urlexo1)
data = json.loads(urlopen(urlexo1).read().decode("utf-8"))
# print(data)
data0=data[0]
# print(data0)
nb_exoplanets= data0['nbe']
print(nb_exoplanets)

https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+count(pl_name)+as+nbe+from+ps+where+default_flag=1&format=json
5678

In [46]:
urlexo7 = "https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+\
pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,pl_ratror,\
sy_snum,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod\
+from+ps+where+default_flag=1&format=json"

print(urlexo7)
list7 = json.loads(urlopen(urlexo7).read().decode("utf-8"))
#print(list7)

https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,pl_ratror,sy_snum,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod+from+ps+where+default_flag=1&format=json

In [47]:
#list7

In [48]:
df_exo7 = pd.DataFrame.from_records(list7)
df_exo7

,pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,...,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod
0,OGLE-TR-10 b,OGLE-TR-10,b,197.046,0.62,14.011,1.25,3.101278,0.400,NaN,...,1,0,1.14,0.188,NaN,NaN,1344.9700,2004,1.3 m Warsaw University Telescope,Transit
1,BD-08 2823 c,BD-08 2823,c,104.000,0.33,NaN,NaN,237.600000,NaN,NaN,...,2,0,0.74,NaN,4.50,NaN,41.3342,2009,3.6 m ESO Telescope,Radial Velocity
2,HR 8799 c,HR 8799,c,3000.000,10.00,13.000,1.20,69000.000000,NaN,NaN,...,4,0,1.50,0.692,0.06,NaN,41.2441,2008,8.19 m Gemini North Telescope,Imaging
3,HD 110014 b,HD 110014,b,3524.590,11.09,NaN,NaN,835.477000,NaN,NaN,...,1,0,2.17,NaN,0.95,NaN,100.7580,2009,Multiple Telescopes,Radial Velocity
4,WASP-43 b,WASP-43,b,565.714,1.78,10.424,0.93,0.813475,2.939,1.1592,...,1,0,0.58,NaN,NaN,NaN,86.7467,2011,Canon 200mm f/1.8L,Transit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5673,Kepler-1986 b,Kepler-1986,b,NaN,NaN,1.890,NaN,19.548967,NaN,1.7800,...,1,0,0.78,NaN,NaN,6.2798,912.0850,2023,0.95 m Kepler Telescope,Transit
5674,Kepler-1980 b,Kepler-1980,b,NaN,NaN,2.210,NaN,33.025718,NaN,6.0320,...,1,0,1.05,NaN,NaN,1.3454,1709.4000,2023,0.95 m Kepler Telescope,Transit
5675,Kepler-1996 c,Kepler-1996,c,NaN,NaN,2.810,NaN,92.729725,NaN,6.8300,...,2,0,0.75,NaN,NaN,0.4944,440.5610,2023,0.95 m Kepler Telescope,Transit
5676,Kepler-2001 c,Kepler-2001,c,NaN,NaN,1.820,NaN,14.092583,NaN,4.1536,...,2,0,0.86,NaN,NaN,0.9739,776.5500,2023,0.95 m Kepler Telescope,Transit
5677,Kepler-1985 b,Kepler-1985,b,NaN,NaN,2.270,NaN,3.420647,NaN,1.7670,...,1,0,0.88,NaN,NaN,0.4717,NaN,2023,0.95 m Kepler Telescope,Transit

In [49]:
df_exo7.columns

Index(['pl_name', 'hostname', 'pl_letter', 'pl_bmasse', 'pl_bmassj', 'pl_rade',
       'pl_radj', 'pl_orbper', 'pl_dens', 'pl_trandur', 'pl_ratror', 'sy_snum',
       'sy_pnum', 'sy_mnum', 'st_mass', 'st_lum', 'st_age', 'st_dens',
       'sy_dist', 'disc_year', 'disc_telescope', 'discoverymethod'],
      dtype='object')

In [50]:
df_exo7['sy_dist']#en parsecs=3.26 annee lumiere

0       1344.9700
1         41.3342
2         41.2441
3        100.7580
4         86.7467
          ...
5673     912.0850
5674    1709.4000
5675     440.5610
5676     776.5500
5677          NaN
Name: sy_dist, Length: 5678, dtype: float64

In [51]:
df_exo7[df_exo7['sy_dist'] < 10.00]

,pl_name,hostname,pl_letter,pl_bmasse,pl_bmassj,pl_rade,pl_radj,pl_orbper,pl_dens,pl_trandur,...,sy_pnum,sy_mnum,st_mass,st_lum,st_age,st_dens,sy_dist,disc_year,disc_telescope,discoverymethod
19,GJ 667 C b,GJ 667 C,b,NaN,NaN,NaN,NaN,7.2030,NaN,NaN,...,5,0,NaN,NaN,NaN,NaN,7.243960,2012,3.6 m ESO Telescope,Radial Velocity
20,GJ 667 C c,GJ 667 C,c,3.800,0.01200,NaN,NaN,28.1400,NaN,NaN,...,5,0,0.33,-1.863,2.0,NaN,7.243960,2013,3.6 m ESO Telescope,Radial Velocity
21,GJ 667 C e,GJ 667 C,e,2.700,0.00800,NaN,NaN,62.2400,NaN,NaN,...,5,0,0.33,-1.863,2.0,NaN,7.243960,2013,3.6 m ESO Telescope,Radial Velocity
22,GJ 667 C f,GJ 667 C,f,2.700,0.00800,NaN,NaN,39.0260,NaN,NaN,...,5,0,0.33,-1.863,2.0,NaN,7.243960,2013,3.6 m ESO Telescope,Radial Velocity
23,GJ 667 C g,GJ 667 C,g,4.600,0.01400,NaN,NaN,256.2000,NaN,NaN,...,5,0,0.33,-1.863,2.0,NaN,7.243960,2013,3.6 m ESO Telescope,Radial Velocity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3959,Wolf 1061 b,Wolf 1061,b,1.910,0.00601,NaN,NaN,4.8869,NaN,NaN,...,3,0,0.29,-1.991,NaN,NaN,4.305920,2015,3.6 m ESO Telescope,Radial Velocity
3981,GJ 251 b,GJ 251,b,4.000,0.01259,NaN,NaN,14.2380,NaN,NaN,...,1,0,0.36,-1.772,NaN,NaN,5.580570,2020,10 m Keck I Telescope,Radial Velocity
3991,GJ 273 b,GJ 273,b,2.890,0.00909,NaN,NaN,18.6498,NaN,NaN,...,2,0,0.29,-2.056,NaN,NaN,5.921535,2017,3.6 m ESO Telescope,Radial Velocity
4005,HD 180617 b,HD 180617,b,12.214,0.03843,NaN,NaN,105.9110,NaN,NaN,...,1,0,0.48,-1.490,NaN,NaN,5.910590,2018,3.5 m telescope,Radial Velocity
4132,GJ 514 b,GJ 514,b,5.200,0.01636,NaN,NaN,140.4300,NaN,NaN,...,1,0,0.51,-1.367,0.8,NaN,7.617780,2022,Multiple Telescopes,Radial Velocity

In [45]:
nb_df_exo7_sy_dist_inf_10=df_exo7[df_exo7['sy_dist'] < 10.00]['pl_name'].count()
nb_df_exo7_sy_dist_inf_20=df_exo7[(df_exo7['sy_dist'] >= 10.00)&(df_exo7['sy_dist'] < 20.00)]['pl_name'].count()
nb_df_exo7_sy_dist_inf_30=df_exo7[(df_exo7['sy_dist'] >= 20.00)&(df_exo7['sy_dist'] < 30.00)]['pl_name'].count()

print(nb_df_exo7_sy_dist_inf_10)
print(nb_df_exo7_sy_dist_inf_20)
print(nb_df_exo7_sy_dist_inf_30)

106
167
185